deployment:
  kind: DaemonSet

hostNetwork: true
service:
  enabled: false

ports:
  web:
    port: 80
    hostPort: 80
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    port: 443
    hostPort: 443
    http3:
      enabled: true

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true

logs:
  general:
    level: INFO

persistence:
  enabled: true
  path: /data
  size: 128Mi